@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

body{
    background-color: rgb(41, 37, 37);
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    margin: 2% 5%;
    font-style: normal;
    color: gold;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}

li a:hover{
    color: white;
    background-color: #383737;
}

h1{ 
    text-align: center;
    color: gold;
    font-family: "Fascinate", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 3em;
}

.apresentation h1{
    float: right;
}

h2{
    text-align: center;
    color: darkgray;
}

div.apresentation{
    display: inline-block;
    position: relative;
}

.apresentation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
    margin: 10px auto;
}

.apresentation img#capa {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

#apresentation-text {
    max-height: 4em;
    max-width: 65%;
    color: darkgray;
}

#apresentation-text p {
    color: gold;
    font-family: "Fascinate", system-ui;
    font-size: 2.5em;
    margin-bottom: 5px;
    text-align: right;
}


.info-contact{
    text-align: center;
   
}

.info-contact img{
    margin: auto 5em;
     max-width: 8%;
    max-height: 8%;
}

.tecnologies {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.tecnologies figure {
    margin-right: 5px; 
}

.tecnologies figure img {
    width: 5em;
    height: 5em;
}

.languages{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.languages img{
    display: flex;
    text-align: center;
    margin: auto;
    width: 7em;
    height: 7em;
}

.language-english td{
    margin: auto 2em;
    text-align: center;
    color: darkturquoise;
}

.language-english th{
    margin: auto 2em;
    text-align: center;
    color: darkgray;
}

.language-spanish th{
    margin: auto 2em;
    text-align: center;
    color: darkgray;
}
.language-spanish td{
    margin: auto;
    text-align: center;
    color: darkturquoise;
}

.espanhol, .ingles{
    margin: auto 5em;
    display: flex;
    text-align: center;
    border: #333 1px solid;
}

.apresentation-scholarship{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.apresentation-scholarship #school, #college{
    border: #625f5f 1px solid;
    margin: auto 2em;
    text-align: center;
}

.abilities li{
    margin: auto 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: disc;
}

.works{
    text-align: center;
}

.works a{
    text-decoration: none;
    color: gray;
    text-decoration: #e1d8d8 underline;
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

footer{
    text-align: center;
}

footer img{
    float: right;
    margin: 10%;
    max-width: 7em;
    max-height: 7em;
}

footer img#rodape{
    border-radius: 60px;
}

