@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

body{
    background-color: rgb(41, 37, 37);
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    margin: 2% 5%;
    font-style: normal;
    color: gold;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}

li a:hover{
    color: white;
    background-color: #111;
}

h1{ 
    text-align: center;
    float: right;
    color: gold;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

h2{
    text-align: center;
    color: darkgray;
}

div.apresentation img h2{
    display: inline-block;
    position: relative;
}

div.apresentation img#capa{
    margin: 3% auto;
    display: flex;
    text-align: center;
    border-radius: 400px;
    width: 40em;
    height: 40em;
}


div.info-contact{
    text-align: center;
   
}

div.info-contact img{
    margin: auto 5em;
}

div.info-contact img#github{
    max-width: 8em;
    max-height: 8em;
   
}

div.info-contact img#instagram{
    max-width: 8em;
    max-height: 8em;
}

div.info-contact img#gmail{
    max-width: 8em;
    max-height: 8em;
}

div.info-contact img#whatsapp{
    max-width: 8em;
    max-height: 8em;
}

div.languages{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

div.languages img{
    display: flex;
    text-align: center;
    margin: auto;
    width: 5em;
    height: 5em;
}

.language-english td{
    margin: auto 2em;
    text-align: center;
    color: darkturquoise;
}

.language-english th{
    margin: auto 2em;
    text-align: center;
    color: darkgray;
}

.language-spanish th{
    margin: auto 2em;
    text-align: center;
    color: darkgray;
}
.language-spanish td{
    margin: auto;
    text-align: center;
    color: darkturquoise;
}

.espanhol, .ingles{
    margin: auto 5em;
    display: flex;
    text-align: center;
    border: #333 1px solid;
}


footer{
    text-align: center;
}

footer img{
    float: right;
    margin: 10%;
    max-width: 7em;
    max-height: 7em;
}

footer img#rodape{
    border-radius: 60px;
}

