@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');

body{
    background-color: rgb(41, 37, 37);
    font-family: "WDXL Lubrifont TC", sans-serif;
    font-weight: 400;
    margin: 2% 5%;
    font-style: normal;
    color: gold;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
    float: left;
}
li a{
    display: block;
    color: gold;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
    font-family: "Fascinate", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}

li a:hover{
    color: white;
    background-color: #111;
}

h1{
    text-align: center;
    
}
h2{
    text-align: center;
    color: darkgray;
}
.capa{
    text-align: center;
    border-radius: 220px;
    width: 200px;
    height: 200px;
}

footer{
    text-align: center;
}

footer img{
    float: right;
    margin: 10%;
    max-width: 7em;
    max-height: 7em;
}

footer img#rodape{
    border-radius: 60px;
}

